body {
    background-color: rgba(25, 25, 25, 0.9);
    width: 300px;
    margin: 200px auto;
}

label {
    width: 100%;
    position: relative;
    left: 10px;
    top: 20px;
}

h1 {
    text-align: center;
    position: relative;
    left: 15px;
}

input {
    position: relative;
    left: 50%;
    right: 50%;
}

button {
    position: relative;
    left: 25%;
    margin: auto;
    width: 50%;
}